<% include ../partials/header %>

<div class="row">
  <% allUsers.forEach(function(user){ %>
    <div id="<%= user.username %>" class="col-xs-12 col-sm-6">
        <h3><%= user.username %></h3>

        <div>
            <ul class="list-group messages">
            <% user.chatmsgs.forEach(function(msg){ %>
              <% if(msg.isEric == true){ %>
                <li class="list-group-item isEric"><%= msg.msg %></li>
              <% }else{ %>
                <li class="list-group-item notEric"><%= msg.msg %></li>
                <% } %>
            <% }); %>
            </ul>
        </div>
        <div>
          <form id="" class="ericMsg" action="">
            <input id="m" autocomplete="off" />
            <button>Send</button>
          </form>
        </div>
      </div>
  <% }); %>
</div>
<% include ../partials/footer %>
