</div>
<!-- chat container -->
<% if(currentUser){ %>
    <div id="chatbox-holder" class="container chat-box">
      <div id="chatbox" class="row">
        <div class="col chat-icon">
          <i class="far fa-comment fa-2x"></i>
        </div>
      </div>
      <div>
          <ul class="list-group messages" id="footer_messages"></ul>
      </div>
      <div>
          <form id="footer_message_input" class="" action="">
            <input id="footer_message_input_m" autocomplete="off" />
            <button>Send</button>
          </form>
      </div>
    </div>
  <% } %>
<!-- End chat container -->

<!-- Bottom Nav Bar -->
<!--<footer class="footer">
  <div class="container">
    <p class="text-dark">Eric Fallone</p>
  </div>
</footer> -->
<!-- -->
  </body>
</html>
