</div>
<!-- chat container -->
<% if(currentUser){ %>
    <div id="chatbox-holder" class="container chat-box">
      <div id="chatbox" class="row">
        <div class="col chat-icon" style="width:49px; height:49px;">
          <i class="far fa-comment fa-2x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group" id="messages"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form id="chatform" class="form-inline" action="">
            <input id="m" autocomplete="off" />
            <button>Send</button>
          </form>
        </div>
      </div>
    </div>
  <% } %>
<!-- End chat container -->

<!-- Bottom Nav Bar -->

<!-- -->
  </body>
</html>
