<% include partials/header %>
<div class=container>
  <div class="row">
    <div class ="col-md-12 text-center"><h3>About Me</h3></div>
    <div class ="col-md-12 linebreak"></div>
    <div class ="col-md-12 text-center">
      <p>I am self-driven coder that makes interesting, sometimes silly, and functional programs. I went to school at Rutgers New Brunswick, then worked for the family business, and now am currently working in northern chicagoland.

        Right now I am committed to a project every week ranging from coding to making some tiger hats keep a lookout for new posts.
<p>
    </div>
  </div>
</div>
</div>
<% include partials/footer %>
