<% include ./partials/header %>
    <div class="container" style="max-width: 620px">
      <h1 style="text-align: center">Contact Me</h1>
          <form action="" method="post">
              <div class="row no-gutters">
                <div class="col-xs-4 col-md-2 text-right">
                  <label for="first">First:</label>
                </div>
                <div class="col-xs-8 col-md-3">
                  <input class="form-control" id="first" type="text" placeholder="" name ="first">
                </div>
                <div class="col-xs-4 col-md-2 text-right">
                  <label for="last">Last:</label>
                </div>
                <div class="col-xs-8 col-md-5">
                  <input class="form-control" id="last" type="text" placeholder="" name ="last">
                </div>
              </div>
          </form>
    </div>
<% include ./partials/footer %>
