<% include ./partials/header %>
    <div class="container" style="max-width: 620px">
      <h1 style="text-align: center">Contact Me</h1>
          <form action="/contact" method="post">
              <div class="row">
                <!-- First Name -->
                <div class="col-3 col-md-3 text-right mb-4">
                  <label for="first">First:</label>
                </div>
                <div class="col-9 col-md-3  mb-4">
                  <input class="form-control" id="first" type="text" placeholder="" name ="first">
                </div>
                <!-- Last Name -->
                <div class="col-3 col-md-1 text-right mb-4">
                  <label for="last">Last:</label>
                </div>
                <div class="col-9 col-md-5 mb-4">
                  <input class="form-control" id="last" type="text" placeholder="" name ="last">
                </div>
                <!-- Email  -->
                <div class="col-3 text-right mb-4">
                  <label for="email">Email:</label>
                </div>
                <div class="col-9 mb-4">
                  <input class="form-control" id="email" type="text" placeholder="" name ="email">
                </div>
                <!-- Email msg -->
                <div class="col-3 text-right mb-4">
                  <label for="emailmsg">Message:</label>
                </div>
                <div class="col-9 mb-4">
                  <textarea class="form-control" id="emailmsg" rows="4" name ="emailmsg"></textarea>
                </div>
                <!-- Telephone -->
                <div class="col-3 text-right mb-4">
                  <label for="tele">Telephone:</label>
                </div>
                <div class="col-9 mb-4">
                  <input class="form-control" id="tele" type="text" placeholder="" name ="tele">
                </div>
                <!-- Company-->
                <div class="col-3 text-right mb-4">
                  <label for="company">Company:</label>
                </div>
                <div class="col-9 mb-4">
                  <input class="form-control" id="company" type="text" placeholder="<%= %>" name ="company">
                </div>
                <!-- button-->
                <div class="col-12 text-center mb-4">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
          </form>
    </div>
<% include ./partials/footer %>
