<% include partials/header %>

<div class = container>
  <div class=row>
    <img src="https://i399.photobucket.com/albums/pp71/crawfordcpa/PembrokeLucy2.jpg" alt="corgi photo PembrokeLucy2.jpg" class="img-thumbnail rounded-top">
  </div>
</div>

<% include partials/footer %>
