<% include partials/header %>
  <div class="bg">

    <div class="content">
      <div class="holder">
        <h1 class="Eric_Fallone">Eric Fallone</h1>
      </div>
      <div class="holder">
        <h2 class="title left">Title</h2>
      </div>
      <div class="holder">
        <h2 class="aboutme right"><a href="/aboutEric">About me</a></h2>
      </div>
      <div class="holder">
        <h2 class="myproj left"><a href="/blog/Programming%20Projects">My Projects</a></h2>
      </div>
      <div class="holder">
        <div class="social_links right">
          <a href="https://www.linkedin.com/in/ericfallone/"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="https://github.com/Eric-Fallone"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>

<% include partials/footer %>
