h2 > a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
h2 > a:hover{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 black, 0 -1px white;
}
p{
  margin-bottom: 0px;
}

.bg {
  top: calc(0% + 40px);
  left:0%;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  /* The image used */
  background-image: url("https://i399.photobucket.com/albums/pp71/crawfordcpa/PembrokeLucy2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  overflow: hidden;
  min-height: 357px;
}
.title{
  font-size: 2.5em;
}
.holder{
  min-height: 30px;
  min-width: 1000px;
}
.title, .aboutme, .myproj {
  display:none;
  position: relative;
}
.social_links {
  display:none;
  position: relative;
}
.social_links > a:hover{
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  cursor: pointer;

}
.left{
    animation: left 2s 1;
}
.right{
    animation: right 2s 1;
}

@keyframes left {
  0%   { left: -100px; top: 0px;}
  100% { left: 0px; top: 0px;}
}
@keyframes right {
  0%   { left: 100px; top: 0px;}
  100% { left: 0px; top: 0px;}
}

.flash{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 25px;
  border-style: solid;
  border-width:2px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  align-items: center;
  padding: 2px;
}
.danger{
  background-color: red;
}
.success{
  background-color: green;
}
