/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  background-color: #003140;
  background: radial-gradient(circle, rgba(0,197,255,1) 69%, rgba(0,49,64,1) 100%);


}
img{
  border-radius: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

/* Body container set color */
.bodycontainer{
  background-color:#00C5FF ;
  max-width: 720px;
  min-height: 100%;
  height: 100%;
}


.navwidth{
  max-width: 870px;
}

.navcontainer{
  background-color:#007599;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 25px;
}

.thumbnail {
    padding: 0;
}
.blog-post{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Making blog thumbnail overlay text */
.blog-thumb-container{
  position: relative;
}

.blog-thumb-over{
  border-radius: 25px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 197, 255, .5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.blog-thumb-container:hover .blog-thumb-over {
  bottom: 0;
  height: 100%;
}

.blog-thumb-title{
  color:black;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* end blog thumbnail text overlay*/


/* chat boxes */
.chat-icon{
  background-color: #00C5FF;
  padding: 7px 6px 5px 6px;
}
.chat-icon:hover{
  background-color: #00ffff;
  padding: 7px 6px 5px 6px;
}

.chat-box{
  background-color: #003140;
  border-radius: 25px;
  border-style: solid;
  border-width:1px;
  height: 49px;
  width: 49px;
  position: absolute;
  bottom: 5%;
  right: 1%;
  transition: height 0.5s, width 0.5s;
  -webkit-transition: height 0.5s , width 0.5s;
  text-align: center;
  overflow: hidden;
}

.chat-box-expanded{
  height: 350px;
  width: 270px;
}
#chatbox{
  cursor: pointer;
}

/* end chat boxes */
#messages {
  background-color: white;
  border-style: solid;
  border-top: none;
  border-width:1px;
  height: 240px;
  width: 240px;
  overflow-y: scroll;
}
