<% include ../partials/header %>

<div class = "container">
  <h1 style="text-align: center">New Blog Page</h1>

  <form action="/admin/newblog" method="POST">

    <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" type="text" placeholder="Title" name ="title">
    </div>

    <div class="form-group">
        <label for="text">Text</label>
        <textarea class="form-control" id="text" rows="5" name ="description" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
