<% include ../partials/header %>

<div class = "container">
  <h1 style="text-align: center">New Operator</h1>

  <form action="/rainbow" method="POST">

    <div class="form-group">
        <label for="title">Operator:</label>
        <input class="form-control" id="Operator" type="text" placeholder="Operator" name ="Operator">
    </div>

    <div class="form-group">
        <label for="imgsource">Image Link:</label>
        <input class="form-control" id="imgsource" type="text" placeholder="Image Link" name ="imgsource">
    </div>

    <div class="form-group">
        <label for="hardcounters">hardcounters</label>
        <textarea class="form-control" id="hardcounters" rows="5" name ="hardcounters" ></textarea>
    </div>

    <div class="form-group">
        <label for="softcounters">softcounters</label>
        <textarea class="form-control" id="softcounters" rows="5" name ="softcounters" ></textarea>
    </div>

    <div class="form-group">
        <label for="other">other</label>
        <textarea class="form-control" id="other" rows="5" name ="other" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
